/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


:root {
	--bright-red : hsl(12, 88%, 59%);
	--dark-blue : hsl(228, 39%, 23%);
	--dark-grayish-blue : hsl(227, 12%, 61%);
	--very-dark-blue : hsl(233, 12%, 13%);
	--very-pale-red : hsl(13, 100%, 96%);
	--very-light-gray : hsl(0, 0%, 98%);
}
.be-vietnam-pro-regular {
	font-family: "Be Vietnam Pro", sans-serif;
	font-weight: 400;
	font-style: normal;
  }
  
  .be-vietnam-pro-medium {
	font-family: "Be Vietnam Pro", sans-serif;
	font-weight: 500;
	font-style: normal;
  }
  
  .be-vietnam-pro-bold {
	font-family: "Be Vietnam Pro", sans-serif;
	font-weight: 700;
	font-style: normal;
  }
  
body {
	font-size: 16px;
	/* width: 85%; */
	margin: 20px auto;
	color : var(--dark-blue);
}
.main-nav {
	display: flex;
	justify-content:space-between;
	padding: 10px;	
}
.main-nav.logo-img {

}
.nav-menu > ul{
    display: flex;
    /* list-style: none;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    margin: 0; */
}
.nav-menu ul a {
	color: var(--dark-blue);
	text-decoration: none;
	padding: 10px 10px;
}
.nav-menu ul a:hover {
	color : var(--dark-grayish-blue);
}
.call-to-action-button {
	background-color:var(--bright-red);
	color: var(--very-pale-red);
	border-radius: 20px;
	border: none;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	padding: 10px 20px;
}
.call-to-action-button:hover {
	background-color: var(--very-pale-red);
}
.slideout-menu {
	display: none;
}
.hero {
	/* height: 70vh; */
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction:row;
}
.hero h1 {
	font-size: 36px;
}
.hero p {
	color : var(--dark-grayish-blue);
}
.what-is-different p {
	color : var(--dark-grayish-blue);
}
.testimonials p {
	color : var(--dark-grayish-blue);
}

.simplify {
	background-color: var(--bright-red);
	color: white;
	padding : 50px;
	width: 100%;
}
.simplify p {
	color: var(--very-pale-red);
	font-size: 36px;
}
.cta-inverse {
	color: var(--bright-red);
	background-color: var(--very-light-gray);
}
footer {
	background-color: var(--dark-blue);
	color: var(--very-light-gray);
	padding: 30px;
}
.search {
	color: white;
	font-size: 40px;
}